@import "tailwindcss";

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope-ExtraBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    font-family: Manrope, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--color-foreground);
    background-color: var(--color-background);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container-area {
    display: grid;
    max-height: 100dvh;
    height: 100dvh;
    width: 100%;
    overflow: hidden;
    grid-template-areas: 
    "main-area"
    "nav-area";

    grid-template-rows: 1fr auto;
  }
  
  .main-area {
    overflow-y: auto;
    grid-area: main-area;
  }
  
  .nav-area {
    grid-area: nav-area;
  }
}



@theme inline {
  /* Fondo general y texto principal */
  --color-background: #fcfcfd;
  /* Tu fondo primario */
  --color-foreground: #4b94a3;
  /* Tu texto color */

  /* Botones (Uso de los colores que diste) */
  --color-primary: #247d8f;
  /* Fondo botones */
  --color-primary-foreground: #e6f7fc;
  /* Texto botones */

  /* El Acento (La pieza que faltaba) */
  --color-accent: #e99071;
  /* El coral para llamar la atención */
  --color-accent-foreground: #ffffff;
  /* Blanco para máxima legibilidad */

  /* Colores neutros/muted para detalles */
  --color-muted: #f1f5f9;
  --color-muted-foreground: #64748b;

  /* Sombras Custom */
  --shadow-top: 0 -5px 10px -5px rgb(0 0 0 / 0.1), 0 -4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-top-xl: 0 -5px 20px -3px rgb(0 0 0 / 0.1);
}